[submodule "WDL"]
	path = WDL
	url = https://github.com/justinfrankel/WDL.git
[submodule "WavPack"]
	path = WavPack
	url = https://github.com/dbry/WavPack.git
[submodule "libambix"]
	path = libambix
	url = https://github.com/kronihias/libambix.git
